<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>_name</key>
		<string>Default</string>
		<key>autoCompleteBubbleBorderColor</key>
		<string>ca5e13</string>
		<key>autoCompleteBubbleBorderThickness</key>
		<string>0</string>
		<key>autoCompleteBubbleColor</key>
		<string>ee8033</string>
		<key>autoCompleteBubbleShadowColor</key>
		<string>9b470c</string>
		<key>autoCompleteBubbleShadowYOffset</key>
		<string>1</string>
		<key>autoCompleteBubbleShadowRadius</key>
		<string>1</string>
		<key>autoCompleteBubbleShadowAlpha</key>
		<real>0.15</real>
		<key>autoCompleteBubbleCornerRadius</key>
		<string>14</string>
		<key>autoCompleteBubbleHeight</key>
		<integer>30</integer>
		<key>autoCompleteBubbleMarginBottom</key>
		<integer>3</integer>
		<key>autoCompleteBubbleOffsetY</key>
		<integer>3</integer>
		<key>autoCompleteChevronWidth</key>
		<integer>10</integer>
		<key>autoCompleteChevronHeight</key>
		<integer>7</integer>
		<key>autoCompleteChevronOriginX</key>
		<string>20</string>
		<key>autoCompleteViewHeight</key>
		<integer>48</integer>
		<key>autoCompleteFont</key>
		<string>IdealSans-Medium</string>
		<key>autoCompleteFontSize</key>
		<integer>14</integer>
		<key>autoCompleteFontColor</key>
		<string>f8f8f8</string>
		<key>autoCompletePressedFontColor</key>
		<string>ca5e13</string>
		<key>autoCompleteButtonPaddingLeft</key>
		<integer>6</integer>
		<key>autoCompleteButtonPaddingRight</key>
		<integer>6</integer>
		<key>autoCompletePipeHeight</key>
		<integer>16</integer>
		<key>autoCompletePipeWidth</key>
		<integer>2</integer>
		<key>autoCompletePipeColor</key>
		<string>ca5e13</string>
		<key>autoCompletePaddingLeft</key>
		<integer>6</integer>
		<key>autoCompletePaddingRight</key>
		<integer>6</integer>
		<key>autoCompleteMarginLeft</key>
		<integer>10</integer>
		<key>autoCompleteMarginRight</key>
		<integer>9</integer>
		<key>autoCompleteAnimationHideDuration</key>
		<real>0.25</real>
		<key>archiveIndicatorTextColor</key>
		<string>b0b7b9</string>
		<key>archiveIndicatorFont</key>
		<string>IdealSans-SemiboldItalic</string>
		<key>archiveIndicatorFontSize</key>
		<integer>14</integer>
		<key>archiveIndicatorFontNonItalic</key>
		<string>IdealSans-Semibold</string>
		<key>archiveIndicatorFontNonItalicSize</key>
		<integer>14</integer>
		<key>archiveIndicatorWidth</key>
		<integer>125</integer>
		<key>archiveIndicatorArrowTintColor</key>
		<string>b0b7b9</string>
		<key>archiveIndicatorArrowOnTintColor</key>
		<string>ee8033</string>
		<key>archiveIndicatorOnTextColor</key>
		<string>ee8033</string>
		<key>archiveIndicatorArrowFadeDuration</key>
		<real>0.25</real>
		<key>archiveIndicatorTextMarginLeft</key>
		<integer>-2</integer>
		<key>archiveIndicatorMarginRight</key>
		<integer>20</integer>
		<key>archiveIndicatorBounceCoefficient</key>
		<real>0.125</real>
		<key>archiveNoteLockinPoint</key>
		<integer>-120</integer>
		<key>archiveNoteMolasses</key>
		<integer>0</integer>
		<key>browserBackgroundColor</key>
		<string>f8f8f8</string>
		<key>browserOpenAnimationDuration</key>
		<real>0.5</real>
		<key>browserCloseAnimationDuration</key>
		<real>0.4</real>
		<key>browserTextButtonAsset</key>
		<string>navbar-button</string>
		<key>browserTextButtonAssetPressed</key>
		<string>navbar-button-pressed</string>
		<key>browserTextButtonColor</key>
		<string>5e7d9a</string>
		<key>browserTextButtonPressedColor</key>
		<string>5e7d9a</string>
		<key>browserTextButtonFont</key>
		<string>IdealSans-Semibold</string>
		<key>browserTextButtonFontSize</key>
		<string>12</string>
		<key>browserTextButtonFontColor</key>
		<string>5e7d9a</string>
		<key>browserTextButtonPressedFontColor</key>
		<string>f8f8f8</string>
		<key>browserToolbarHeight</key>
		<integer>44</integer>
		<key>browserToolbarBackgroundColor</key>
		<string>f8f8f8</string>
		<key>browserToolbarBackButtonWidth</key>
		<integer>44</integer>
		<key>browserToolbarForwardButtonOriginX</key>
		<integer>90</integer>
		<key>browserToolbarForwardButtonWidth</key>
		<integer>44</integer>
		<key>browserToolbarActivityButtonOriginX</key>
		<string>175</string>
		<key>browserToolbarActivityButtonWidth</key>
		<integer>44</integer>
		<key>browserToolbarDoneButtonWidth</key>
		<integer>44</integer>
		<key>browserPullToRefresh</key>
		<dict>
			<key>arrowColor</key>
			<string>5e7d9a</string>
			<key>arrowOriginX</key>
			<integer>36</integer>
			<key>arrowOriginY</key>
			<integer>31</integer>
			<key>arrowTriggerColor</key>
			<string>ee8033</string>
			<key>backgroundColor</key>
			<string>f8f8f8</string>
			<key>font</key>
			<string>IdealSans-Semibold</string>
			<key>fontColor</key>
			<string>5e7d9a</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>refreshOriginX</key>
			<integer>35</integer>
			<key>refreshOriginY</key>
			<integer>30</integer>
			<key>refreshTriggerColor</key>
			<string>ee8033</string>
			<key>refreshFadeDuration</key>
			<real>0.1</real>
			<key>spinnerOriginX</key>
			<integer>32</integer>
			<key>spinnerOriginY</key>
			<integer>28</integer>
			<key>spinnerAnimationDuration</key>
			<real>0.8</real>
			<key>textOriginX</key>
			<integer>56</integer>
			<key>textOriginY</key>
			<integer>27</integer>
			<key>textHeight</key>
			<integer>17</integer>
			<key>textWidth</key>
			<integer>220</integer>
			<key>triggerFontColor</key>
			<string>ee8033</string>
			<key>viewHeight</key>
			<integer>65</integer>
		</dict>
		<key>creditsNavbarBackgroundColor</key>
		<string>f8f8f8</string>
		<key>creditsNavbarButtonColor</key>
		<string>5e7d9a</string>
		<key>creditsNavbarTitleColor</key>
		<string>f8f8f8</string>
		<key>creditsVersionFont</key>
		<string>IdealSans-Book</string>
		<key>creditsVersionFontSize</key>
		<string>12</string>
		<key>creditsVersionFontColor</key>
		<string>000000</string>
		<key>creditsLinkColor</key>
		<string>5e7d9a</string>
		<key>creditsLinkPressedColor</key>
		<string>ee8033</string>
		<key>creditFont</key>
		<string>IdealSans-Book</string>
		<key>creditFontSize</key>
		<integer>16</integer>
		<key>creditSupportURL</key>
		<string>http://vesperapp.co/</string>
		<key>creditsDisappearBackButtonScrollY</key>
		<integer>400</integer>
		<key>commandButtonStrokeColor</key>
		<string>5e7d9a</string>
		<key>commandButtonFillColor</key>
		<string>_transparent</string>
		<key>commandButtonTextColor</key>
		<string>5e7d9a</string>
		<key>detailActivityPopoverOffsetY</key>
		<integer>10</integer>
		<key>detailCameraButtonMarginRight</key>
		<integer>17</integer>
		<key>detailCameraButtonWidth</key>
		<integer>44</integer>
		<key>detailCameraPopoverOffsetY</key>
		<integer>10</integer>
		<key>detailCameraDeletePopoverOffsetY</key>
		<integer>10</integer>
		<key>detailDoneButtonMarginRight</key>
		<integer>0</integer>
		<key>detailActivityButtonWidth</key>
		<integer>44</integer>
		<key>detailActivityButtonMarginRight</key>
		<integer>15</integer>
		<key>detailPlusButtonWidth</key>
		<integer>46</integer>
		<key>detailPlusButtonMarginRight</key>
		<integer>0</integer>
		<key>detailKeyboardButtonWidth</key>
		<integer>46</integer>
		<key>detailCloseAnimationDuration</key>
		<real>0.25</real>
		<key>detailOpenAnimationDuration</key>
		<real>0.25</real>
		<key>detailOpenAnimationDurationPart1</key>
		<real>0.2</real>
		<key>detailCloseAnimationDurationPart1</key>
		<real>0.2</real>
		<key>detailOpenAnimationDurationPart2</key>
		<real>0.2</real>
		<key>detailCloseAnimationDurationPart2</key>
		<real>0.2</real>
		<key>detailImageViewMarginTop</key>
		<integer>0</integer>
		<key>detailImageViewMarginBottom</key>
		<integer>15</integer>
		<key>detailImageViewMarginLeft</key>
		<integer>0</integer>
		<key>detailImageViewMarginRight</key>
		<integer>0</integer>
		<key>detailImageViewWidth</key>
		<string>320</string>
		<key>detailImageViewHeight</key>
		<string>320</string>
		<key>detailTextMarginLeft</key>
		<integer>7</integer>
		<key>detailTextMarginRight</key>
		<integer>7</integer>
		<key>detailNoteTitleMarginBottom</key>
		<string>0</string>
		<key>detailBackgroundNotesDelay</key>
		<integer>0</integer>
		<key>detailBackgroundNotesDuration</key>
		<real>0.3</real>
		<key>detailBackgroundNotesTranslationY</key>
		<integer>0</integer>
		<key>detailBackgroundNotesScale</key>
		<real>0.8</real>
		<key>detailBackgroundNotesAlpha</key>
		<real>0</real>
		<key>detailBackgroundNotesCurve</key>
		<string>easeout</string>
		<key>detailBackgroundNotesReverseDelay</key>
		<integer>0</integer>
		<key>detailBackgroundNotesReverseDuration</key>
		<real>0.3</real>
		<key>detailBackgroundNotesReverseTranslationY</key>
		<integer>0</integer>
		<key>detailBackgroundNotesReverseScale</key>
		<real>0.8</real>
		<key>detailBackgroundNotesReverseAlpha</key>
		<real>0</real>
		<key>detailBackgroundNotesReverseCurve</key>
		<string>easeout</string>
		<key>detailArchiveButtonMarginLeft</key>
		<integer>10</integer>
		<key>detailDeleteButtonMarginRight</key>
		<integer>5</integer>
		<key>detailDeleteButtonPopoverOffsetY</key>
		<integer>0</integer>
		<key>detailButtonCornerRadius</key>
		<integer>6</integer>
		<key>detailButtonBackgroundColor</key>
		<string>f8f8f8</string>
		<key>detailButtonHeight</key>
		<integer>35</integer>
		<key>detailButtonWidth</key>
		<integer>35</integer>
		<key>detailButtonColor</key>
		<string>afbcc8</string>
		<key>detailButtonPressedColor</key>
		<string>f8f8f8</string>
		<key>detailButtonBackgroundPressedColor</key>
		<string>afbcc8</string>
		<key>detailButtonMarginBottom</key>
		<integer>5</integer>
		<key>detailSelectedNoteDelay</key>
		<integer>0</integer>
		<key>detailSelectedNoteDuration</key>
		<real>0.3</real>
		<key>detailSelectedNoteCurve</key>
		<string>easeout</string>
		<key>detailSelectedNoteReverseDelay</key>
		<integer>0</integer>
		<key>detailSelectedNoteReverseDuration</key>
		<real>0.3</real>
		<key>detailSelectedNoteReverseCurve</key>
		<string>easeout</string>
		<key>detailNavbarDelay</key>
		<real>0.1</real>
		<key>detailNavbarDuration</key>
		<real>0.2</real>
		<key>detailNavbarTranslationY</key>
		<integer>0</integer>
		<key>detailNavbarAlpha</key>
		<real>0</real>
		<key>detailNavbarCurve</key>
		<string>linear</string>
		<key>detailNavbarReverseDelay</key>
		<real>0.1</real>
		<key>detailNavbarReverseDuration</key>
		<string>0.2</string>
		<key>detailNavbarReverseTranslationY</key>
		<string>0</string>
		<key>detailNavbarReverseAlpha</key>
		<string>0.0</string>
		<key>detailNavbarReverseCurve</key>
		<string>linear</string>
		<key>detailNavbarButtonSwapAnimationDelay</key>
		<real>0.1</real>
		<key>detailNavbarButtonSwapAnimationDuration</key>
		<real>0.25</real>
		<key>detailTransitionSearchBarScale</key>
		<real>0.85</real>
		<key>menuPopover</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>3</integer>
			<key>chevronWidth</key>
			<integer>20</integer>
			<key>chevronHeight</key>
			<integer>10</integer>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderColor</key>
			<string>000000</string>
			<key>backgroundColor</key>
			<string>ffffff</string>
			<key>backgroundAlpha</key>
			<real>0.9</real>
			<key>marginLeft</key>
			<integer>0</integer>
			<key>marginRight</key>
			<integer>0</integer>
			<key>paddingTop</key>
			<integer>0</integer>
			<key>paddingBottom</key>
			<integer>0</integer>
			<key>paddingLeft</key>
			<integer>10</integer>
			<key>paddingRight</key>
			<integer>10</integer>
			<key>buttonCornerRadius</key>
			<integer>0</integer>
			<key>buttonColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedColor</key>
			<string>d9d9d9</string>
			<key>buttonDestructiveColor</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveColorPressed</key>
			<string>d9d9d9</string>
			<key>buttonBorderColor</key>
			<string>000000</string>
			<key>buttonBorderWidth</key>
			<integer>0</integer>
			<key>buttonHeight</key>
			<integer>44</integer>
			<key>buttonTextColor</key>
			<string>a62828</string>
			<key>buttonTextColorPressed</key>
			<string>a62828</string>
			<key>buttonFont</key>
			<string>IdealSans-Medium</string>
			<key>buttonFontSize</key>
			<integer>20</integer>
			<key>interButtonSpace</key>
			<integer>0</integer>
			<key>fadeInDuration</key>
			<real>0.2</real>
			<key>fadeOutDuration</key>
			<real>0.2</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.25</real>
			<key>shadowColor</key>
			<string>000000</string>
			<key>shadowOpacity</key>
			<real>0.15</real>
			<key>shadowOffsetY</key>
			<integer>1</integer>
			<key>shadowBlurRadius</key>
			<integer>6</integer>
		</dict>
		<key>alertView</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>6</integer>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderColor</key>
			<string>f8f8f8</string>
			<key>backgroundColor</key>
			<string>b6b6b6</string>
			<key>backgroundAlpha</key>
			<integer>1</integer>
			<key>marginLeft</key>
			<integer>0</integer>
			<key>marginRight</key>
			<integer>0</integer>
			<key>paddingTop</key>
			<integer>0</integer>
			<key>paddingBottom</key>
			<integer>0</integer>
			<key>paddingLeft</key>
			<integer>25</integer>
			<key>paddingRight</key>
			<integer>25</integer>
			<key>buttonCornerRadius</key>
			<integer>6</integer>
			<key>buttonColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedColor</key>
			<string>d9d9d9</string>
			<key>buttonDestructiveColor</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveColorPressed</key>
			<string>d9d9d9</string>
			<key>buttonBorderColor</key>
			<string>f8f8f8</string>
			<key>buttonBorderWidth</key>
			<integer>0</integer>
			<key>buttonHeight</key>
			<integer>44</integer>
			<key>buttonDestructiveTextColor</key>
			<string>a62828</string>
			<key>buttonDestructiveTextColorPressed</key>
			<string>a62828</string>
			<key>buttonTextColor</key>
			<string>000000</string>
			<key>buttonTextColorPressed</key>
			<string>000000</string>
			<key>buttonFont</key>
			<string>IdealSans-Medium</string>
			<key>buttonFontSize</key>
			<integer>20</integer>
			<key>interButtonSpace</key>
			<real>0.5</real>
			<key>fadeInDuration</key>
			<real>0.3</real>
			<key>fadeOutDuration</key>
			<real>0.15</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.25</real>
			<key>originY</key>
			<integer>200</integer>
			<key>shadowColor</key>
			<string>000000</string>
			<key>shadowOpacity</key>
			<real>0.15</real>
			<key>shadowOffsetY</key>
			<integer>1</integer>
			<key>shadowBlurRadius</key>
			<integer>6</integer>
			<key>shrinkScale</key>
			<real>0.95</real>
			<key>shrinkDuration</key>
			<real>1.5</real>
			<key>shrinkRestoreDuration</key>
			<integer>1</integer>
			<key>balloonScale</key>
			<string>1.05</string>
			<key>balloonCurve</key>
			<string>linear</string>
			<key>shrinkCurve</key>
			<string>linear</string>
			<key>shrinkRestoreCurve</key>
			<string>easeout</string>
		</dict>
		<key>alertViewDeletePicture</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>6</integer>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderColor</key>
			<string>f8f8f8</string>
			<key>backgroundColor</key>
			<string>b6b6b6</string>
			<key>backgroundAlpha</key>
			<integer>1</integer>
			<key>marginLeft</key>
			<integer>0</integer>
			<key>marginRight</key>
			<integer>0</integer>
			<key>paddingTop</key>
			<integer>0</integer>
			<key>paddingBottom</key>
			<integer>0</integer>
			<key>paddingLeft</key>
			<integer>25</integer>
			<key>paddingRight</key>
			<integer>25</integer>
			<key>buttonCornerRadius</key>
			<integer>6</integer>
			<key>buttonColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedColor</key>
			<string>d9d9d9</string>
			<key>buttonDestructiveColor</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveColorPressed</key>
			<string>d9d9d9</string>
			<key>buttonBorderColor</key>
			<string>f8f8f8</string>
			<key>buttonBorderWidth</key>
			<integer>0</integer>
			<key>buttonHeight</key>
			<integer>44</integer>
			<key>buttonDestructiveTextColor</key>
			<string>a62828</string>
			<key>buttonDestructiveTextColorPressed</key>
			<string>a62828</string>
			<key>buttonTextColor</key>
			<string>000000</string>
			<key>buttonTextColorPressed</key>
			<string>000000</string>
			<key>buttonFont</key>
			<string>IdealSans-Medium</string>
			<key>buttonFontSize</key>
			<integer>20</integer>
			<key>interButtonSpace</key>
			<real>0.5</real>
			<key>fadeInDuration</key>
			<real>0.3</real>
			<key>fadeOutDuration</key>
			<real>0.15</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.25</real>
			<key>originY</key>
			<integer>200</integer>
			<key>shadowColor</key>
			<string>000000</string>
			<key>shadowOpacity</key>
			<real>0.15</real>
			<key>shadowOffsetY</key>
			<integer>1</integer>
			<key>shadowBlurRadius</key>
			<integer>6</integer>
			<key>shrinkScale</key>
			<real>0.95</real>
			<key>shrinkDuration</key>
			<real>1.5</real>
			<key>shrinkRestoreDuration</key>
			<integer>1</integer>
			<key>balloonScale</key>
			<string>1.05</string>
			<key>balloonCurve</key>
			<string>linear</string>
			<key>shrinkCurve</key>
			<string>linear</string>
			<key>shrinkRestoreCurve</key>
			<string>easeout</string>
		</dict>
		<key>alertViewDeletePictureFromCameraButton</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>6</integer>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderColor</key>
			<string>f8f8f8</string>
			<key>backgroundColor</key>
			<string>b6b6b6</string>
			<key>backgroundAlpha</key>
			<integer>1</integer>
			<key>marginLeft</key>
			<integer>0</integer>
			<key>marginRight</key>
			<integer>0</integer>
			<key>paddingTop</key>
			<integer>0</integer>
			<key>paddingBottom</key>
			<integer>0</integer>
			<key>paddingLeft</key>
			<integer>25</integer>
			<key>paddingRight</key>
			<integer>25</integer>
			<key>buttonCornerRadius</key>
			<integer>6</integer>
			<key>buttonColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedColor</key>
			<string>d9d9d9</string>
			<key>buttonDestructiveColor</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveColorPressed</key>
			<string>d9d9d9</string>
			<key>buttonBorderColor</key>
			<string>f8f8f8</string>
			<key>buttonBorderWidth</key>
			<integer>0</integer>
			<key>buttonHeight</key>
			<integer>44</integer>
			<key>buttonDestructiveTextColor</key>
			<string>a62828</string>
			<key>buttonDestructiveTextColorPressed</key>
			<string>a62828</string>
			<key>buttonTextColor</key>
			<string>000000</string>
			<key>buttonTextColorPressed</key>
			<string>000000</string>
			<key>buttonFont</key>
			<string>IdealSans-Medium</string>
			<key>buttonFontSize</key>
			<integer>20</integer>
			<key>interButtonSpace</key>
			<real>0.5</real>
			<key>fadeInDuration</key>
			<real>0.3</real>
			<key>fadeOutDuration</key>
			<real>0.15</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.25</real>
			<key>originY</key>
			<integer>200</integer>
			<key>shadowColor</key>
			<string>000000</string>
			<key>shadowOpacity</key>
			<real>0.15</real>
			<key>shadowOffsetY</key>
			<integer>1</integer>
			<key>shadowBlurRadius</key>
			<integer>6</integer>
			<key>shrinkScale</key>
			<real>0.95</real>
			<key>shrinkDuration</key>
			<real>1.5</real>
			<key>shrinkRestoreDuration</key>
			<integer>1</integer>
			<key>balloonScale</key>
			<string>1.05</string>
			<key>balloonCurve</key>
			<string>linear</string>
			<key>shrinkCurve</key>
			<string>linear</string>
			<key>shrinkRestoreCurve</key>
			<string>easeout</string>
		</dict>
		<key>menuPopoverCameraDeletePhoto</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>4</integer>
			<key>chevronWidth</key>
			<integer>20</integer>
			<key>chevronHeight</key>
			<integer>10</integer>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderColor</key>
			<string>000000</string>
			<key>backgroundColor</key>
			<string>f8f8f8</string>
			<key>backgroundAlpha</key>
			<integer>1</integer>
			<key>marginLeft</key>
			<integer>5</integer>
			<key>marginRight</key>
			<integer>5</integer>
			<key>paddingTop</key>
			<integer>0</integer>
			<key>paddingLeft</key>
			<integer>0</integer>
			<key>paddingBottom</key>
			<integer>0</integer>
			<key>paddingRight</key>
			<integer>0</integer>
			<key>buttonCornerRadius</key>
			<integer>2</integer>
			<key>buttonColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedColor</key>
			<string>d9d9d9</string>
			<key>buttonDestructiveColor</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveColorPressed</key>
			<string>d9d9d9</string>
			<key>buttonBorderColor</key>
			<string>000000</string>
			<key>buttonBorderWidth</key>
			<integer>0</integer>
			<key>buttonHeight</key>
			<integer>38</integer>
			<key>buttonTextColor</key>
			<string>a62828</string>
			<key>buttonTextColorPressed</key>
			<string>a62828</string>
			<key>buttonFont</key>
			<string>IdealSans-Semibold</string>
			<key>buttonFontSize</key>
			<integer>20</integer>
			<key>interButtonSpace</key>
			<integer>5</integer>
			<key>fadeInDuration</key>
			<real>0.2</real>
			<key>fadeOutDuration</key>
			<real>0.2</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.2</real>
		</dict>
		<key>menuPopoverDetailTrash</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>4</integer>
			<key>chevronWidth</key>
			<integer>20</integer>
			<key>chevronHeight</key>
			<integer>10</integer>
			<key>borderWidth</key>
			<integer>1</integer>
			<key>borderColor</key>
			<string>000000</string>
			<key>backgroundColor</key>
			<string>404040</string>
			<key>backgroundAlpha</key>
			<real>0.85</real>
			<key>marginLeft</key>
			<integer>5</integer>
			<key>marginRight</key>
			<integer>5</integer>
			<key>paddingTop</key>
			<integer>5</integer>
			<key>paddingLeft</key>
			<integer>5</integer>
			<key>paddingBottom</key>
			<integer>5</integer>
			<key>paddingRight</key>
			<integer>5</integer>
			<key>buttonCornerRadius</key>
			<integer>2</integer>
			<key>buttonColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedColor</key>
			<string>d9d9d9</string>
			<key>buttonDestructiveColor</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveColorPressed</key>
			<string>d9d9d9</string>
			<key>buttonBorderColor</key>
			<string>000000</string>
			<key>buttonBorderWidth</key>
			<integer>0</integer>
			<key>buttonHeight</key>
			<integer>38</integer>
			<key>buttonTextColor</key>
			<string>f8f8f8</string>
			<key>buttonTextColorPressed</key>
			<string>f8f8f8</string>
			<key>buttonFont</key>
			<string>IdealSans-Semibold</string>
			<key>buttonFontSize</key>
			<integer>20</integer>
			<key>interButtonSpace</key>
			<integer>5</integer>
			<key>fadeInDuration</key>
			<real>0.2</real>
			<key>fadeOutDuration</key>
			<real>0.2</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.2</real>
		</dict>
		<key>tagPopover</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>4</integer>
			<key>chevronWidth</key>
			<integer>20</integer>
			<key>chevronHeight</key>
			<integer>10</integer>
			<key>borderWidth</key>
			<real>1</real>
			<key>borderColor</key>
			<string>000000</string>
			<key>backgroundColor</key>
			<string>000000</string>
			<key>backgroundAlpha</key>
			<real>1</real>
			<key>marginLeft</key>
			<integer>0</integer>
			<key>marginRight</key>
			<integer>0</integer>
			<key>paddingTop</key>
			<integer>0</integer>
			<key>paddingLeft</key>
			<integer>0</integer>
			<key>paddingBottom</key>
			<integer>0</integer>
			<key>paddingRight</key>
			<integer>0</integer>
			<key>buttonCornerRadius</key>
			<integer>0</integer>
			<key>buttonColor</key>
			<string>000000</string>
			<key>buttonPressedColor</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveColor</key>
			<string>a62828</string>
			<key>buttonDestructiveColorPressed</key>
			<string>7c1c1c</string>
			<key>buttonBorderColor</key>
			<string>000000</string>
			<key>buttonBorderWidth</key>
			<integer>0</integer>
			<key>buttonHeight</key>
			<integer>38</integer>
			<key>buttonTextColor</key>
			<string>f8f8f8</string>
			<key>buttonTextColorPressed</key>
			<string>000000</string>
			<key>buttonTextPaddingLeft</key>
			<integer>10</integer>
			<key>buttonTextPaddingRight</key>
			<integer>10</integer>
			<key>buttonFont</key>
			<string>IdealSans-Semibold</string>
			<key>buttonFontSize</key>
			<integer>14</integer>
			<key>interButtonSpace</key>
			<integer>5</integer>
			<key>fadeInDuration</key>
			<real>0.2</real>
			<key>fadeOutDuration</key>
			<real>0.2</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.011</real>
			<key>dividerColor</key>
			<string>a62828</string>
			<key>dividerWidth</key>
			<integer>0</integer>
			<key>shadowColor</key>
			<string>000000</string>
			<key>shadowOpacity</key>
			<real>0.3</real>
			<key>shadowOffsetY</key>
			<integer>1</integer>
			<key>shadowBlurRadius</key>
			<integer>2</integer>
		</dict>
		<key>iconGridPopover</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>3</integer>
			<key>chevronWidth</key>
			<integer>20</integer>
			<key>chevronHeight</key>
			<integer>10</integer>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderColor</key>
			<string>5e7d9a</string>
			<key>backgroundColor</key>
			<string>f8f8f8</string>
			<key>backgroundAlpha</key>
			<integer>1</integer>
			<key>marginLeft</key>
			<integer>6</integer>
			<key>marginRight</key>
			<integer>6</integer>
			<key>paddingTop</key>
			<integer>5</integer>
			<key>paddingBottom</key>
			<integer>3</integer>
			<key>paddingLeft</key>
			<integer>0</integer>
			<key>paddingRight</key>
			<integer>0</integer>
			<key>buttonCornerRadius</key>
			<integer>2</integer>
			<key>buttonColor</key>
			<string>5e7d9a</string>
			<key>buttonPressedColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedBackgroundColor</key>
			<string>5e7d9a</string>
			<key>buttonDestructiveColor</key>
			<string>a62828</string>
			<key>buttonDestructiveColorPressed</key>
			<string>7c1c1c</string>
			<key>buttonDestructiveColorPressedBackground</key>
			<string>f8f8f8</string>
			<key>buttonHeight</key>
			<integer>64</integer>
			<key>buttonWidth</key>
			<integer>64</integer>
			<key>buttonTextColor</key>
			<string>5e7d9a</string>
			<key>buttonTextColorPressed</key>
			<string>f8f8f8</string>
			<key>buttonDestructiveTextColor</key>
			<string>a62828</string>
			<key>buttonDestructiveTextColorPressed</key>
			<string>7c1c1c</string>
			<key>buttonFont</key>
			<string>IdealSansSC-Semibold</string>
			<key>buttonFontSize</key>
			<integer>12</integer>
			<key>buttonTextMarginBottom</key>
			<integer>5</integer>
			<key>buttonIconMarginTop</key>
			<integer>4</integer>
			<key>buttonTitleTransform</key>
			<string>lowercase</string>
			<key>interButtonSpace</key>
			<integer>5</integer>
			<key>fadeInDuration</key>
			<real>0.2</real>
			<key>fadeOutDuration</key>
			<real>0.2</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>backgroundViewAlpha</key>
			<real>0.25</real>
			<key>shadowColor</key>
			<string>000000</string>
			<key>shadowOpacity</key>
			<real>0.15</real>
			<key>shadowOffsetY</key>
			<integer>1</integer>
			<key>shadowBlurRadius</key>
			<integer>6</integer>
		</dict>
		<key>browserActivityPopover</key>
		<dict>
			<key>borderCornerRadius</key>
			<integer>3</integer>
			<key>chevronWidth</key>
			<integer>20</integer>
			<key>chevronHeight</key>
			<integer>10</integer>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderColor</key>
			<string>5e7d9a</string>
			<key>backgroundColor</key>
			<string>f8f8f8</string>
			<key>backgroundAlpha</key>
			<integer>1</integer>
			<key>marginLeft</key>
			<integer>6</integer>
			<key>marginRight</key>
			<integer>6</integer>
			<key>paddingTop</key>
			<integer>5</integer>
			<key>paddingLeft</key>
			<integer>0</integer>
			<key>paddingBottom</key>
			<integer>3</integer>
			<key>paddingRight</key>
			<integer>0</integer>
			<key>buttonCornerRadius</key>
			<integer>2</integer>
			<key>buttonColor</key>
			<string>5e7d9a</string>
			<key>buttonPressedColor</key>
			<string>f8f8f8</string>
			<key>buttonPressedBackgroundColor</key>
			<string>5e7d9a</string>
			<key>buttonDestructiveColor</key>
			<string>a62828</string>
			<key>buttonDestructiveColorPressed</key>
			<string>7c1c1c</string>
			<key>buttonDestructiveColorPressedBackground</key>
			<string>f8f8f8</string>
			<key>buttonHeight</key>
			<integer>64</integer>
			<key>buttonWidth</key>
			<integer>64</integer>
			<key>buttonTextColor</key>
			<string>5e7d9a</string>
			<key>buttonTextColorPressed</key>
			<string>f8f8f8</string>
			<key>buttonFont</key>
			<string>IdealSansSC-Semibold</string>
			<key>buttonFontSize</key>
			<integer>12</integer>
			<key>buttonTextMarginBottom</key>
			<integer>5</integer>
			<key>buttonIconMarginTop</key>
			<integer>4</integer>
			<key>buttonTitleTransform</key>
			<string>lowercase</string>
			<key>interButtonSpace</key>
			<integer>5</integer>
			<key>fadeInDuration</key>
			<real>0.1</real>
			<key>fadeOutDuration</key>
			<real>0.1</real>
			<key>backgroundViewAlpha</key>
			<real>0.25</real>
			<key>backgroundViewColor</key>
			<string>000000</string>
			<key>shadowColor</key>
			<string>000000</string>
			<key>shadowOpacity</key>
			<real>0.15</real>
			<key>shadowOffsetY</key>
			<integer>1</integer>
			<key>shadowBlurRadius</key>
			<integer>6</integer>
		</dict>
		<key>browserActivityPopoverOffsetY</key>
		<integer>-5</integer>
		<key>navbarComposeButton</key>
		<string>addbutton</string>
		<key>navbarComposeButtonPressed</key>
		<string>addbutton-pressed</string>
		<key>navbarBackgroundColor</key>
		<string>5e7d9a</string>
		<key>navbarButtonColor</key>
		<string>f8f8f8</string>
		<key>navbarButtonPressedColor</key>
		<string>f8f8f8</string>
		<key>navbarButtonFont</key>
		<string>IdealSans-Semibold</string>
		<key>navbarButtonFontSize</key>
		<integer>12</integer>
		<key>navbarButtonFontColor</key>
		<string>f8f8f8</string>
		<key>navbarButtonPressedFontColor</key>
		<string>5e7d9a</string>
		<key>navbarHeight</key>
		<integer>44</integer>
		<key>navbarShadowAsset</key>
		<string>navbarshadow.png</string>
		<key>navbarTitleColor</key>
		<string>f8f8f8</string>
		<key>navbarTitleFont</key>
		<string>IdealSans-Medium</string>
		<key>navbarTitleFontSize</key>
		<string>20</string>
		<key>navbarBackButtonCapLeft</key>
		<integer>16</integer>
		<key>navbarBackButtonCapRight</key>
		<integer>7</integer>
		<key>navbarBackButtonMaxWidth</key>
		<integer>150</integer>
		<key>navbarBackButtonTextY</key>
		<string>0</string>
		<key>navbarBackButtonAsset</key>
		<string>navbar-backarrow-pressed</string>
		<key>navbarBackButtonPressedAsset</key>
		<string>navbar-backarrow-pressed</string>
		<key>navbarBackButtonOriginX</key>
		<integer>0</integer>
		<key>navbarBackButtonOriginY</key>
		<integer>0</integer>
		<key>navbarBackButtonPaddingTop</key>
		<string>7</string>
		<key>navbarBackButtonPaddingLeft</key>
		<string>5</string>
		<key>navbarBackButtonPaddingRight</key>
		<string>11</string>
		<key>navbarBackButtonPaddingBottom</key>
		<string>7</string>
		<key>navbarSidebarButton</key>
		<string>listbutton</string>
		<key>navbarSidebarButtonPressed</key>
		<string>listbutton-pressed</string>
		<key>navbarTextButtonColor</key>
		<string>3a5671</string>
		<key>navbarTextButtonPaddingTop</key>
		<string>7</string>
		<key>navbarTextButtonPaddingLeft</key>
		<string>6</string>
		<key>navbarTextButtonPaddingRight</key>
		<string>5</string>
		<key>navbarTextButtonPaddingBottom</key>
		<string>7</string>
		<key>navbarTextButtonAsset</key>
		<string>navbar-button-pressed</string>
		<key>navbarTextButtonPressedAsset</key>
		<string>navbar-button-pressed</string>
		<key>navbarTextButtonCapLeft</key>
		<string>6</string>
		<key>navbarTextButtonCapRight</key>
		<string>6</string>
		<key>navbarTextButtonMaxWidth</key>
		<string>100</string>
		<key>navbarTextButtonTextY</key>
		<string>0</string>
		<key>navbarPlusSidebarBackgroundColor</key>
		<string>f8f8f8</string>
		<key>navbarPlusSidebarButtonColor</key>
		<string>5e7d9a</string>
		<key>navbarPlusSidebarTitleColor</key>
		<string>5e7d9a</string>
		<key>navbarPlusSidebarCornerRadius</key>
		<integer>3</integer>
		<key>noNotesColor</key>
		<string>d9dde1</string>
		<key>noNotesFont</key>
		<string>IdealSans-Semibold</string>
		<key>noNotesFontSize</key>
		<integer>16</integer>
		<key>noNotesFontColor</key>
		<string>d9dde1</string>
		<key>noNotesOriginY</key>
		<string>200</string>
		<key>noNotesImageMarginBottom</key>
		<integer>12</integer>
		<key>notesBackgroundColor</key>
		<string>f8f8f8</string>
		<key>noteDragAutoscrollThreshold</key>
		<integer>100</integer>
		<key>noteDragAutoscrollCoefficient</key>
		<real>0.2</real>
		<key>noteDragScale</key>
		<real>1.1</real>
		<key>noteDragPopupAnimationDuration</key>
		<real>0.5</real>
		<key>noteDragSlideInAnimationDuration</key>
		<real>0.5</real>
		<key>noteDividerColor</key>
		<string>f8f8f8</string>
		<key>noteDividerInnerHighlight</key>
		<false/>
		<key>noteDividerInnerHighlightColor</key>
		<string>000000</string>
		<key>noteDividerFullPointHeight</key>
		<false/>
		<key>noteLinkColor</key>
		<string>5e7d9a</string>
		<key>noteLinkFont</key>
		<string>IdealSans-Medium</string>
		<key>noteLinkFontSize</key>
		<integer>17</integer>
		<key>noteLinkSelectedColor</key>
		<string>f8f8f8</string>
		<key>noteLinkSelectedBackgroundColor</key>
		<string>5e7d9a</string>
		<key>noteLinkCornerRadius</key>
		<integer>4</integer>
		<key>noteMaximumNumberOfLines</key>
		<integer>3</integer>
		<key>noteSelectedBackgroundColor</key>
		<string>e8eaec</string>
		<key>noteArchivedTitleFont</key>
		<string>IdealSans-SemiboldItalic</string>
		<key>noteArchivedTitleFontSize</key>
		<integer>17</integer>
		<key>noteArchivedFont</key>
		<string>IdealSans-BookItalic</string>
		<key>noteArchivedFontSize</key>
		<integer>17</integer>
		<key>noteArchivedLinkFont</key>
		<string>IdealSans-BookItalic</string>
		<key>noteArchivedLinkFontSize</key>
		<integer>17</integer>
		<key>noteArchivedTitleLinkFont</key>
		<string>IdealSans-SemiboldItalic</string>
		<key>noteArchivedTitleLinkFontSize</key>
		<string>17</string>
		<key>noteTitleFont</key>
		<string>IdealSans-Semibold</string>
		<key>noteTitleFontSize</key>
		<integer>17</integer>
		<key>noteTitleFontColor</key>
		<string>1c1c1c</string>
		<key>noteTitleLinkFont</key>
		<string>IdealSans-Semibold</string>
		<key>noteTitleLinkFontSize</key>
		<integer>17</integer>
		<key>noteTitleFontSmallCaps</key>
		<true/>
		<key>noteTitleTransform</key>
		<string>none</string>
		<key>noteTitleMarginBottom</key>
		<integer>1</integer>
		<key>noteTitleLineSpacing</key>
		<integer>0</integer>
		<key>noteTruncationIndicator</key>
		<string>...</string>
		<key>noteTruncationIndicatorFont</key>
		<string>IdealSans-Book</string>
		<key>noteTruncationIndicatorFontSize</key>
		<integer>18</integer>
		<key>noteTruncationIndicatorFontColor</key>
		<string>5e7d9a</string>
		<key>noteTruncationIndicatorFudgeY</key>
		<real>0.5</real>
		<key>noteFont</key>
		<string>IdealSans-Book</string>
		<key>noteFontSize</key>
		<integer>17</integer>
		<key>noteFontColor</key>
		<string>333333</string>
		<key>noteLineSpacing</key>
		<integer>1</integer>
		<key>notePaddingFirst</key>
		<integer>0</integer>
		<key>notePaddingLeft</key>
		<integer>15</integer>
		<key>notePaddingRight</key>
		<integer>15</integer>
		<key>notePaddingTop</key>
		<integer>13</integer>
		<key>notePaddingBottom</key>
		<integer>13</integer>
		<key>noteTagBackgroundColor</key>
		<string>5e7d9a</string>
		<key>noteTagTextColor</key>
		<string>f8f8f8</string>
		<key>noteTagCornerRadius</key>
		<integer>12</integer>
		<key>notePicturePaperClipAsset</key>
		<string>paperclip.png</string>
		<key>searchBarLayoutHorizontal</key>
		<string>|-5.5-[searchBar]-5.5-|</string>
		<key>searchBarLayoutVertical</key>
		<string>V:|-3-[searchBar]</string>
		<key>searchBarShadowLayoutHorizontal</key>
		<string>|-0-[shadow]-0-|</string>
		<key>searchBarShadowLayoutVertical</key>
		<string>V:[shadow]-0-|</string>
		<key>searchBarContainerViewHeight</key>
		<integer>50</integer>
		<key>searchBarContainerViewSearchingHeight</key>
		<integer>47</integer>
		<key>searchBarContainerDragShowThreshold</key>
		<string>35</string>
		<key>searchBarContainerDragHideThreshold</key>
		<string>12</string>
		<key>searchBarContainerViewMaxHeight</key>
		<integer>88</integer>
		<key>searchBarCancelButtonColor</key>
		<string>f8f8f8</string>
		<key>searchBarCancelButtonPressedColor</key>
		<string>5e7d9a</string>
		<key>searchBarCancelButtonFont</key>
		<string>IdealSans-Semibold</string>
		<key>searchBarCancelButtonFontSize</key>
		<integer>12</integer>
		<key>searchBarCancelButtonFontColor</key>
		<string>5e7d9a</string>
		<key>searchBarCancelButtonPressedFontColor</key>
		<string>f8f8f8</string>
		<key>searchBarCancelButtonAsset</key>
		<string>navbar-button</string>
		<key>searchBarCancelButtonAssetPressed</key>
		<string>navbar-button-pressed</string>
		<key>searchFieldHeight</key>
		<integer>30</integer>
		<key>searchFieldIconColor</key>
		<string>f8f8f8</string>
		<key>searchFieldClearIconColor</key>
		<string>aaaaaa</string>
		<key>photoDetailBackgroundColor</key>
		<string>000000</string>
		<key>photoDetailDoneButtonMarginLeft</key>
		<string>10</string>
		<key>photoDetailTrashMarginLeft</key>
		<integer>20</integer>
		<key>photoDetailTrashMarginRight</key>
		<integer>10</integer>
		<key>photoDetailTrashMarginBottom</key>
		<integer>12</integer>
		<key>photoDetailTrashWidth</key>
		<integer>44</integer>
		<key>photoDetailTrashHeight</key>
		<integer>44</integer>
		<key>photoDetailToolbarAlpha</key>
		<real>0.3</real>
		<key>photoDetailToolbarColor</key>
		<string>000000</string>
		<key>photoDetailToolbarFadeDuration</key>
		<real>0.25</real>
		<key>photoDetailToolbarInitialFadeDelay</key>
		<integer>5</integer>
		<key>photoTextButtonAsset</key>
		<string>navbar-button</string>
		<key>photoTextButtonAssetPressed</key>
		<string>navbar-button-pressed</string>
		<key>photoTextButtonColor</key>
		<string>f8f8f8</string>
		<key>photoTextButtonPressedColor</key>
		<string>f8f8f8</string>
		<key>photoTextButtonFont</key>
		<string>IdealSans-Semibold</string>
		<key>photoTextButtonFontSize</key>
		<string>12</string>
		<key>photoTextButtonFontColor</key>
		<string>f8f8f8</string>
		<key>photoTextButtonPressedFontColor</key>
		<string>000000</string>
		<key>photoTrashPopoverOffsetY</key>
		<integer>0</integer>
		<key>searchFieldColor</key>
		<string>ced2d5</string>
		<key>searchFieldCornerRadius</key>
		<string>500</string>
		<key>searchFieldFont</key>
		<string>IdealSans-Book</string>
		<key>searchFieldFontSize</key>
		<integer>17</integer>
		<key>searchFieldFontColor</key>
		<string>000000</string>
		<key>searchFieldTextPositionFudge</key>
		<integer>1</integer>
		<key>searchOverlayColor</key>
		<string>f8f8f8</string>
		<key>searchOverlayAlpha</key>
		<real>0.9</real>
		<key>sidebarAllNotesIconAsset</key>
		<string>all-notes.png</string>
		<key>sidebarTagIconAsset</key>
		<string>taglist.png</string>
		<key>sidebarCreditsIconAsset</key>
		<string>credits-icon.png</string>
		<key>sidebarArchiveIconAsset</key>
		<string>archivelist.png</string>
		<key>sidebarBackgroundColor</key>
		<string>e6e6e6</string>
		<key>sidebarGrabZone</key>
		<string>30</string>
		<key>sidebarSettingsIconAsset</key>
		<string>settings.png</string>
		<key>sidebarIconColor</key>
		<string>4a4a4a</string>
		<key>sidebarIconOriginX</key>
		<integer>12</integer>
		<key>sidebarIconShowAllNotes</key>
		<true/>
		<key>sidebarIconShowTags</key>
		<true/>
		<key>sidebarIconShowArchive</key>
		<true/>
		<key>sidebarIconShowCredits</key>
		<true/>
		<key>sidebarTextOriginX</key>
		<integer>45</integer>
		<key>sidebarTextHiddenIconOriginX</key>
		<integer>15</integer>
		<key>sidebarRowHeight</key>
		<integer>40</integer>
		<key>sidebarPaddingTop</key>
		<integer>0</integer>
		<key>sidebarPaddingBottom</key>
		<integer>0</integer>
		<key>sidebarSectionMiscMarginTop</key>
		<integer>20</integer>
		<key>sidebarSelectionColor</key>
		<string>4a4a4a</string>
		<key>sidebarSelectedIconColor</key>
		<string>f8f8f8</string>
		<key>sidebarSelectedTextColor</key>
		<string>f8f8f8</string>
		<key>sidebarTextFont</key>
		<string>IdealSans-Medium</string>
		<key>sidebarTextFontSize</key>
		<integer>18</integer>
		<key>sidebarTextItalicFont</key>
		<string>IdealSans-MediumItalic</string>
		<key>sidebarTextItalicFontSize</key>
		<integer>18</integer>
		<key>sidebarTextColor</key>
		<string>4a4a4a</string>
		<key>sidebarShadowColor</key>
		<string>000000</string>
		<key>sidebarShadowBlurRadius</key>
		<integer>3</integer>
		<key>sidebarShadowOpacity</key>
		<real>0.23</real>
		<key>sidebarSlidScreenRounded</key>
		<true/>
		<key>sidebarSlidScreenRadius</key>
		<integer>3</integer>
		<key>sidebarAnimationDuration</key>
		<real>0.25</real>
		<key>sidebarAnimationCurve</key>
		<string>easeout</string>
		<key>sidebarMarginTop</key>
		<integer>7</integer>
		<key>sidebarMarginBottom</key>
		<integer>7</integer>
		<key>sidebarDeepBackgroundColor</key>
		<string>000000</string>
		<key>sidebarWidth</key>
		<integer>269</integer>
		<key>sidebarParallaxWidth</key>
		<integer>45</integer>
		<key>tagsHugKeyboard</key>
		<true/>
		<key>tagBubbleHeight</key>
		<integer>26</integer>
		<key>tagBubbleTextMarginLeft</key>
		<integer>10</integer>
		<key>tagBubbleTextMarginRight</key>
		<integer>9</integer>
		<key>tagBubbleMarginRight</key>
		<integer>7</integer>
		<key>tagBubbleFont</key>
		<string>IdealSans-Medium</string>
		<key>tagBubbleFontColor</key>
		<string>f8f8f8</string>
		<key>tagBubbleFontPressedColor</key>
		<string>f8f8f8</string>
		<key>tagBubbleFontSize</key>
		<integer>14</integer>
		<key>tagBubbleColor</key>
		<string>adbbc8</string>
		<key>tagBubbleCornerRadius</key>
		<integer>500</integer>
		<key>tagBubbleMarginTop</key>
		<integer>10</integer>
		<key>tagGhostBubbleColor</key>
		<string>d9dde1</string>
		<key>tagGhostBubblePressedColor</key>
		<string>5e7d9a</string>
		<key>tagGhostBubbleFont</key>
		<string>IdealSans-Medium</string>
		<key>tagGhostBubbleFontColor</key>
		<string>f8f8f8</string>
		<key>tagGhostBubbleFontSize</key>
		<integer>14</integer>
		<key>tagGhostWidth</key>
		<integer>46</integer>
		<key>tagGhostTitle</key>
		<string>Tag</string>
		<key>tagGhostTitleFont</key>
		<string>IdealSans-MediumItalic</string>
		<key>tagGhostTitleFontSize</key>
		<string>24</string>
		<key>tagGhostTitleOffsetY</key>
		<integer>0</integer>
		<key>tagDetailColor</key>
		<string>5e7d9a</string>
		<key>tagDetailPressedColor</key>
		<string>44607b</string>
		<key>tagDetailScrollViewHeight</key>
		<integer>44</integer>
		<key>tagDetailScrollViewInsetTop</key>
		<integer>6</integer>
		<key>tagDetailScrollViewInsetLeft</key>
		<integer>15</integer>
		<key>tagDetailScrollViewInsetRight</key>
		<integer>7</integer>
		<key>tagDetailScrollViewMarginTop</key>
		<integer>20</integer>
		<key>tagDetailEditingOutlineColor</key>
		<string>5e7d9a</string>
		<key>tagDetailEditingFillColor</key>
		<string>f8f8f8</string>
		<key>tagDetailEditingFontColor</key>
		<string>5e7d9a</string>
		<key>tagDetailEditingOutlineWidthRetina</key>
		<integer>3</integer>
		<key>tagDetailEditingOutlineWidth</key>
		<integer>2</integer>
		<key>tagDetailEditingTextOffsetY</key>
		<integer>3</integer>
		<key>tagDeleteColor</key>
		<string>f8f8f8</string>
		<key>tagDeleteMarginLeft</key>
		<string>5</string>
		<key>tagDeleteMarginRight</key>
		<string>8</string>
		<key>tagPopoverOffsetY</key>
		<integer>-8</integer>
		<key>thumbnailRotationDegreesMaximum</key>
		<integer>0</integer>
		<key>thumbnailRotationDegreesMinimum</key>
		<integer>0</integer>
		<key>thumbnailRotationDegreesLock</key>
		<integer>1</integer>
		<key>thumbnailRelativeOriginY</key>
		<integer>-5</integer>
		<key>thumbnailWidth</key>
		<integer>55</integer>
		<key>thumbnailHeight</key>
		<integer>55</integer>
		<key>thumbnailMarginTop</key>
		<integer>0</integer>
		<key>thumbnailMarginRight</key>
		<integer>15</integer>
		<key>thumbnailMarginLeft</key>
		<integer>5</integer>
		<key>thumbnailMarginBottom</key>
		<string>0</string>
		<key>thumbnailCenterVertically</key>
		<true/>
		<key>thumbnailBorderWidth</key>
		<real>0.5</real>
		<key>thumbnailBorderColor</key>
		<string>595959</string>
		<key>thumbnailCornerRadius</key>
		<string>2</string>
		<key>thumbnailShadowAlpha</key>
		<integer>0</integer>
		<key>thumbnailShadowOffsetY</key>
		<integer>1</integer>
		<key>thumbnailShadowBlurRadius</key>
		<integer>0</integer>
		<key>thumbnailShadowColor</key>
		<string>ffffff</string>
		<key>timelineAlternatingRows</key>
		<false/>
		<key>timelineCellBackgroundColor</key>
		<string>eeeeee</string>
		<key>timelineRowsEven</key>
		<string>f8f8f8</string>
		<key>timelineRowsOdd</key>
		<string>f8f8f8</string>
		<key>timelineShowTags</key>
		<false/>
		<key>timelinePlusButtonWidth</key>
		<integer>46</integer>
		<key>timelinePlusButtonMarginRight</key>
		<integer>0</integer>
		<key>timelineForceRowHeight</key>
		<false/>
		<key>timelineRowHeight</key>
		<string>55</string>
		<key>timelineCenterInRow</key>
		<true/>
		<key>timelineTitlesOnly</key>
		<false/>
		<key>timelineSectionHeaderHeight</key>
		<string>22</string>
		<key>timelineSectionHeaderBackgroundColor</key>
		<string>dfe1e3</string>
		<key>timelineSectionHeaderFontColor</key>
		<string>969a9e</string>
		<key>timelineSectionHeaderFont</key>
		<string>IdealSans-MediumItalic</string>
		<key>timelineSectionHeaderFontSize</key>
		<integer>16</integer>
		<key>timelineSectionHeaderTextOriginX</key>
		<string>15</string>
		<key>toolbarButtonColor</key>
		<string>5e7d9a</string>
		<key>toolbarButtonPressedColor</key>
		<string>5e7d9a</string>
		<key>toolbarButtonFont</key>
		<string>IdealSans-Semibold</string>
		<key>toolbarButtonFontSize</key>
		<string>12</string>
		<key>toolbarButtonFontColor</key>
		<string>5e7d9a</string>
		<key>toolbarButtonPressedFontColor</key>
		<string>f8f8f8</string>
		<key>toolbarShadowAsset</key>
		<string>toolbar-shadow.png</string>
		<key>toolbarShadowVisible</key>
		<true/>
		<key>paperclipRelativeOriginY</key>
		<string>30</string>
		<key>paperclipRelativeOriginX</key>
		<integer>5</integer>
	</dict>
	<key>Example Theme</key>
	<dict>
		<key>test</key>
		<string>foo</string>
	</dict>
</dict>
</plist>
